.preview-image{
    height: 400px;
}

.slider-img{
    min-width: 147px;
    max-width: 147px;
    height: 200px;
    background-color: black;
    background-size: cover;
    margin: 5px 10px;
    cursor: pointer;
    transition: 0.5s ease;
    z-index: 2;
}

.slider-img:hover {
    transform: scale(1.4) !important;
    z-index: 5;
}