.prev-image-container{
    height:15vw;
    width: 100%;
    text-align: center;
}

.carousel{
    height: 250px;
    margin-top: 150px;
    width: 60vw;
    position: relative;
}

.sliders {
    height: 250px;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
    padding-bottom: 10px !important;
    display: flex;
    align-items: center;
}